<div class="span5 offset1">
  <div class="coolrecipe">

<%= form_for(@playing) do |f| %>
  <% if @playing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playing.errors.count, "error") %> prohibited this playing from being saved:</h2>

      <ul>
      <% @playing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br />
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :player_position %><br />
    <%= f.number_field :player_position %>
  </div>
  <div class="field">
    <%= f.label :finish_position %><br />
    <%= f.number_field :finish_position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>