<h3>Listing playings</h3>
<br>
<div class="row">
  <div class="span5 offset1">
  <div class="coolrecipe">
<table>
  <tr>
    <th>User</th>
    <th>Game</th>
    <th>Player position</th>
    <th>Finish position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @playings.each do |playing| %>
  <tr>
    <td><%= playing.user_id %></td>
    <td><%= playing.game_id %></td>
    <td><%= playing.player_position %></td>
    <td><%= playing.finish_position %></td>
    <td><%= link_to 'Show', playing %></td>
    <td><%= link_to 'Edit', edit_playing_path(playing) %></td>
    <td><%= link_to 'Destroy', playing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
</div>
</div>
<br />

<%= link_to 'New Playing', new_playing_path %>
