<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @tictactoe_move.game_id %>
</p>

<p>
  <b>Player:</b>
  <%= @tictactoe_move.player_id %>
</p>

<p>
  <b>Move square:</b>
  <%= @tictactoe_move.move_square %>
</p>

<p>
  <b>Symbol:</b>
  <%= @tictactoe_move.symbol %>
</p>

<p>
  <b>Winning move:</b>
  <%= @tictactoe_move.winning_move %>
</p>


<%= link_to 'Edit', edit_tictactoe_move_path(@tictactoe_move) %> |
<%= link_to 'Back', tictactoe_moves_path %>
