<h3>Log in:</h3>
<br>
<div class="row">
<div class="span4 offset4">
  <div class ="coolrecipe login">
    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :username %>
        <%= text_field_tag :username, params[:username] %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="actions"><%= submit_tag "Log in", class:"btn btn-info btn-large" %></div>
    <% end %>
    <br>
    <br>
      <div>
        First time visiting us? <%= link_to('Sign up!', new_user_path, class:"btn btn-success btn-mini")  %>
      </div>
  </div>
</div>
</div>