<h3>Playing mode: ON!</h3>
<div class="center">
  <%if flash[:notice] %>
    <h1><%= flash[:notice] %></h1>
  <% end %>
  <br>
  <br>


  <div class="row">
    <div class="span3">
      <div class ="coolrecipe links match-div">
        <h3>Player 1</h3>
        <p class="links"><%=image_tag game_player_image(@game, 0), class: "img-circle img-match"%></p>
        <br>
        <% unless current_user.id == @game.users[0].id %>
          <% player1 = @game.get_player(1) %>
           <a href="mailto:<%= player1.email %>?subject=Hey! It's your turn to play...&body=Come on, <%= player1.username%>. I'm waiting for you at www.gameapp.com/games/<%=@game[:id]%> !", class= "btn btn-danger btn-small">NUDGE</a>
         <% end %>
      </div>
    </div>


    <div class="span4 offset1">
      <div class = "tictactoe">
        <table id="tictactoe_grid" class="links">
          <% [[0,1,2], [3,4,5], [6,7,8]].each do |c| %>
            <tr>
              <% c.each do |grid_case| %>
                 <td>
                      <% if  is_player_playing(@game, current_user) %>
                        <% result = x_or_o(@game, grid_case)  %>
                        <% if result  %>
                          <%= result  %>
                        <% else %>
                          <%= link_to "?", game_tictactoe_moves_path(@game, case: grid_case), method: :post %>
                        <% end %>
                      <% else%>
                        <%= x_or_o(@game, grid_case) %>
                      <% end%>
                  </td>
              <% end%>
            </tr>
          <% end %>
        </table>
        <br>
        <br>
        <br>
        <p><u>INSTRUCTIONS:</u> <em>click on the "?", then refresh the page until your opponent has made its move. The first player to line up three "X" or "O" wins!</em></p>
        <br>
        <p>Did you know? <em>You can send a note to your opponent to remind them it is their turn: just NUDGE them a little :)</em></p>
      </div>
      <div class="links">
        <br>
        <%= link_to 'Back to Homepage', root_path, class:"btn btn-inverse btn-large" %>
      </div>
    </div>


    <div class="span3 offset1">
      <div class ="coolrecipe links match-div">
        <h3>Player 2</h3>
        <p class="links"><%=image_tag game_player_image(@game, 1), class: "img-circle img-match"%></p>
        <br>
        <% unless current_user.id == @game.users[1].id %>
          <% player2 = @game.get_player(2) %>
          <a href="mailto:<%= player2.email %>?subject=Hey! It's your turn to play...&body=Come on, <%= player2.username%>. I'm waiting for you at www.gameapp.com/games/<%=@game[:id]%> !", class= "btn btn-danger btn-small">NUDGE</a>
        <% end %>
      </div>
    </div>


  </div>
</div>
<br>
<br>
<br>
<br>